flows.json
[
    {
        "id": "c2f74828919a13f6",
        "type": "tab",
        "label": "Weather Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04e8c216e556b4f3",
        "type": "tab",
        "label": "Doorbell",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f00e620a11f9efaa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.10.0.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ae652e11f50b5d1",
        "type": "ui_group",
        "name": "Guages",
        "tab": "92ce010872de559d",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92ce010872de559d",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "349c87ac52becf82",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#eef056",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#eef056",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#eef056",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#f5f69c",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#eef056",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 45,
                "sy": 45,
                "gx": 5,
                "gy": 5,
                "cx": 5,
                "cy": 5,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "db2269f75bf51f6e",
        "type": "ui_group",
        "name": "Wind",
        "tab": "92ce010872de559d",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a982ff0d7f2d5b9",
        "type": "ui_group",
        "name": "Rainfall",
        "tab": "92ce010872de559d",
        "order": 4,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "675036dd.603328",
        "type": "ui_group",
        "name": "Frame Grab",
        "tab": "7af2d9c8.0a9148",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7af2d9c8.0a9148",
        "type": "ui_tab",
        "name": "RTSP",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "01157d536030d5db",
        "type": "ui_group",
        "name": "Clock",
        "tab": "92ce010872de559d",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e93c3141d4a25013",
        "type": "ui_spacer",
        "z": "04e8c216e556b4f3",
        "name": "spacer",
        "group": "db2269f75bf51f6e",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "544599ea1e7f5fa3",
        "type": "debug",
        "z": "c2f74828919a13f6",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "26a753d090395702",
        "type": "inject",
        "z": "c2f74828919a13f6",
        "name": "DataOK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DataOK",
        "payload": "Data OK",
        "payloadType": "str",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "1e3fcd6f82cc6490"
            ]
        ]
    },
    {
        "id": "8c8b773a157324c5",
        "type": "mqtt in",
        "z": "c2f74828919a13f6",
        "name": "",
        "topic": "WeatherData",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f00e620a11f9efaa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "544599ea1e7f5fa3",
                "802d41e8482c3e31",
                "677c6f0ab58f3c69",
                "d4dc2b6bbe326837",
                "4aa18319b388a34e",
                "5db59bafbced7ccf",
                "4397436e0f161712",
                "5de87a7c2e7f9207"
            ]
        ]
    },
    {
        "id": "1e3fcd6f82cc6490",
        "type": "mqtt out",
        "z": "c2f74828919a13f6",
        "name": "Confirm",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f00e620a11f9efaa",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "802d41e8482c3e31",
        "type": "change",
        "z": "c2f74828919a13f6",
        "name": "Temp",
        "rules": [
            {
                "t": "move",
                "p": "payload.Temp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "4d67758e2aae0953"
            ]
        ]
    },
    {
        "id": "677c6f0ab58f3c69",
        "type": "change",
        "z": "c2f74828919a13f6",
        "name": "HPA",
        "rules": [
            {
                "t": "move",
                "p": "payload.Hpa",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "3d778de35c6e305d"
            ]
        ]
    },
    {
        "id": "d4dc2b6bbe326837",
        "type": "change",
        "z": "c2f74828919a13f6",
        "name": "Humidity",
        "rules": [
            {
                "t": "move",
                "p": "payload.Humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "9a78949d469d979e"
            ]
        ]
    },
    {
        "id": "4aa18319b388a34e",
        "type": "change",
        "z": "c2f74828919a13f6",
        "name": "UV",
        "rules": [
            {
                "t": "move",
                "p": "payload.UV",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "1f74c977d5a0a42a"
            ]
        ]
    },
    {
        "id": "4d67758e2aae0953",
        "type": "ui_gauge",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "9ae652e11f50b5d1",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp",
        "label": "C",
        "format": "{{value}}",
        "min": "-5",
        "max": "50",
        "colors": [
            "#5771f4",
            "#1cc438",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d778de35c6e305d",
        "type": "ui_gauge",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "9ae652e11f50b5d1",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Hpa",
        "label": "Hpa",
        "format": "{{value}}",
        "min": "975",
        "max": "1050",
        "colors": [
            "#00b3b0",
            "#00e67a",
            "#d7658d"
        ],
        "seg1": "1000",
        "seg2": "1030",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a78949d469d979e",
        "type": "ui_gauge",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "9ae652e11f50b5d1",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e39426",
            "#00e60f",
            "#5f49d0"
        ],
        "seg1": "30",
        "seg2": "65",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f74c977d5a0a42a",
        "type": "ui_gauge",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "9ae652e11f50b5d1",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UV",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "11",
        "colors": [
            "#00b500",
            "#e1f00a",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "8",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "7ce94d8a54fdeee8",
        "type": "ui_text",
        "z": "c2f74828919a13f6",
        "group": "db2269f75bf51f6e",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "Wind Data",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "e8005298fedbec7a",
        "type": "comment",
        "z": "c2f74828919a13f6",
        "name": "",
        "info": "Data is taken from HASS and passed via MQTT\nTopic WeatherData\nChange nodes convert msg.payload object to individual payloads\nPayloads passed to graphs etc",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "88054fd6de5e543d",
        "type": "debug",
        "z": "c2f74828919a13f6",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "5db59bafbced7ccf",
        "type": "function",
        "z": "c2f74828919a13f6",
        "name": "Wind",
        "func": "var windData = \"\";\nvar mywindSpeed = msg.payload.windSpeed;\nvar mywindDir = msg.payload.windDir;\nvar mywindGust = msg.payload.MaxWindGust;\nwindData = \" From \" + mywindDir + \" :  Max gust today of \" + mywindGust + \" km/hr\";\nmsg.payload = windData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "7ce94d8a54fdeee8"
            ]
        ]
    },
    {
        "id": "4397436e0f161712",
        "type": "function",
        "z": "c2f74828919a13f6",
        "name": "Rain",
        "func": "var rainData = \"\";\nvar myrainToday = msg.payload.rainToday;\nvar myrainMonth = msg.payload.rainMonth;\nvar myrainYear = msg.payload.rainYear;\nrainData = \"Rain today = \"+ myrainToday +\" mm\" + \", Month \" + myrainMonth + \" mm\" + \", Year \" + myrainYear + \" mm\";\nmsg.payload = rainData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "88054fd6de5e543d",
                "1ab1137d51733e8f"
            ]
        ]
    },
    {
        "id": "1ab1137d51733e8f",
        "type": "ui_text",
        "z": "c2f74828919a13f6",
        "group": "4a982ff0d7f2d5b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Rain Data",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "5de87a7c2e7f9207",
        "type": "function",
        "z": "c2f74828919a13f6",
        "name": "Wind",
        "func": "var windData = \"\";\nvar mywindSpeed = msg.payload.windSpeed;\n//var mywindDir = msg.payload.windDir;\n//var mywindGust = msg.payload.MaxWindGust;\n//windData = \"Speed = \"+ mywindSpeed +\" km/hr \" + \"from \" + mywindDir + \" :  Max gust today of \" + mywindGust + \" km/hr\";\nmsg.payload = mywindSpeed;\nmsg.topic = \"km/hr\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "6f8a628231034fdf"
            ]
        ]
    },
    {
        "id": "6f8a628231034fdf",
        "type": "ui_chart",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "db2269f75bf51f6e",
        "order": 1,
        "width": 8,
        "height": 2,
        "label": "",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d624d0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f0b94e35134ecc9b",
        "type": "ui_digital_clock",
        "z": "c2f74828919a13f6",
        "name": "",
        "group": "01157d536030d5db",
        "order": 1,
        "width": 16,
        "height": 1,
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "01dcbde1e793980f",
        "type": "inject",
        "z": "c2f74828919a13f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "f0b94e35134ecc9b"
            ]
        ]
    },
    {
        "id": "9d618eee624e25bf",
        "type": "comment",
        "z": "04e8c216e556b4f3",
        "name": "",
        "info": "Doorbell triggers when pi GPIO xx goes low.\nTurn dooebell led on\nSend mqtt topic \"playTune\" to HASS broker\nESP Home monitors for \"playTune\" topic\nTriggers the playing of tune via DFPPlayer\nESP sends topic \"tunePlayed\" when complete\nTrigger messge to  Google hub\nTrigger display of image of front door",
        "x": 80,
        "y": 20,
        "wires": []
    },
    {
        "id": "950a26283cb1aa97",
        "type": "mqtt out",
        "z": "04e8c216e556b4f3",
        "name": "frontDoor/Button",
        "topic": "Doorbell/Pushed",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f00e620a11f9efaa",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "c40e5a599c6777dc",
        "type": "inject",
        "z": "04e8c216e556b4f3",
        "name": "ButtonPush",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Doorbell/Pushed",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "950a26283cb1aa97",
                "4e93ccd8b9abb139",
                "b725302f0e51a027"
            ]
        ]
    },
    {
        "id": "37de1bb3963af5cb",
        "type": "mqtt in",
        "z": "04e8c216e556b4f3",
        "name": "PlayedTune",
        "topic": "playedTune",
        "qos": "1",
        "datatype": "utf8",
        "broker": "f00e620a11f9efaa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 40,
        "wires": [
            [
                "a099e1eff8c0960c"
            ]
        ]
    },
    {
        "id": "a099e1eff8c0960c",
        "type": "debug",
        "z": "04e8c216e556b4f3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 40,
        "wires": []
    },
    {
        "id": "aace40ba7b3be77e",
        "type": "exec",
        "z": "04e8c216e556b4f3",
        "command": "ffmpeg -y -i rtsp://mike:be1DonFD@10.10.0.33:554/videoMain -vframes 1 -f image2pipe -vcodec png -",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Grab a frame->stdout",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "5fbf17a782b06789"
            ],
            [],
            []
        ]
    },
    {
        "id": "b2eec0b757afef59",
        "type": "comment",
        "z": "04e8c216e556b4f3",
        "name": "Frame grabber",
        "info": "This section of the flow is responsible for \ngrabbing a single out of the RTSP feed of the IP\nCamera. It uses avconv to do that which is part\nof the libav-tools for raspberry pi.\n\nThe trigger can be an inject, or a UI button.\nThe statistic node keeps a track of the number of\ngrabbed frames and the success rate (when the\nvideo conversion/grabbing was successful). The \nStatistic node also has a reset input which can \nbe used to periodically reset the stats (e.g.\ndaily, weekly).\n\nI directed the second output of the Exec node to\na file, as the output of the avconv is usually \nquite long and if there are errors you don't\nsee the entire output in the debug window, so in\nthat case just open to output and see what the issue\nis.",
        "x": 100,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bc5dabc6de7ea2e",
        "type": "template",
        "z": "04e8c216e556b4f3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"720px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "09165c5d9e6bf1e4"
            ]
        ]
    },
    {
        "id": "5fbf17a782b06789",
        "type": "base64",
        "z": "04e8c216e556b4f3",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 780,
        "y": 120,
        "wires": [
            [
                "4bc5dabc6de7ea2e"
            ]
        ]
    },
    {
        "id": "09165c5d9e6bf1e4",
        "type": "ui_template",
        "z": "04e8c216e556b4f3",
        "group": "675036dd.603328",
        "name": "",
        "order": 1,
        "width": "14",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4e93ccd8b9abb139",
        "type": "looptimer-advanced",
        "z": "04e8c216e556b4f3",
        "duration": "2",
        "units": "Second",
        "maxloops": "60",
        "maxtimeout": "121",
        "maxtimeoutunits": "Second",
        "name": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "aace40ba7b3be77e"
            ],
            []
        ]
    },
    {
        "id": "02d3a53ee775e697",
        "type": "ui_ui_control",
        "z": "04e8c216e556b4f3",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3ed1f6581c681e5b",
        "type": "change",
        "z": "04e8c216e556b4f3",
        "name": "Weather Tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Weather\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "02d3a53ee775e697"
            ]
        ]
    },
    {
        "id": "b725302f0e51a027",
        "type": "change",
        "z": "04e8c216e556b4f3",
        "name": "RTSP Tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"RTSP\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "02d3a53ee775e697",
                "6eddf771e9a8a7cb"
            ]
        ]
    },
    {
        "id": "6eddf771e9a8a7cb",
        "type": "delay",
        "z": "04e8c216e556b4f3",
        "name": "",
        "pauseType": "delay",
        "timeout": "122",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "3ed1f6581c681e5b"
            ]
        ]
    },
    {
        "id": "dcfa632c6d334725",
        "type": "inject",
        "z": "04e8c216e556b4f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tab\":\"Weather\"}",
        "payloadType": "json",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "b0311242a3741ee7"
            ]
        ]
    },
    {
        "id": "0c7de497e7efe2c9",
        "type": "inject",
        "z": "04e8c216e556b4f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tab\":\"RTSP\"}",
        "payloadType": "json",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "b0311242a3741ee7"
            ]
        ]
    },
    {
        "id": "b0311242a3741ee7",
        "type": "ui_ui_control",
        "z": "04e8c216e556b4f3",
        "name": "",
        "events": "all",
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    }
]